/* Using button.active could easily collide with other modules. */
button.btn-active-fwl {
	background: var(--button-hover-background-color);
	color: var(--button-hover-text-color);
	box-shadow: 0 0 5px var(--color-shadow-primary);
}

/* --------------------- */
/* Generic dropdown menu */
/* --------------------- */
.dropdown-menu-fwl {
	--background-color: var(--color-cool-5, #9f8475);
    --border-color: var(--color-cool-3, #584a75);
    --text-color: var(--color-text-secondary, #e7d1b1);
    --hover-text-color: var(--color-text-emphatic, #f7f3e8);
    --group-separator: var(--color-cool-4, #302831);
    --hover-entry-border: #4a394d;
    --hover-entry-background: #1c1c1c;

	padding: 4px;
	margin: 0;
	height: max-content;
    min-width: 150px;
    max-width: 360px;
	list-style: none;
    color: var(--text-color);
    background: var(--background-color);
    border: 1px solid var(--border-color);
    border-radius: 4px;
	box-shadow: 0 3px 6px rgb(0 0 0 / 45%);
}

.theme-light .dropdown-menu-fwl {
	--background-color: #d9d8c8;
    --border-color: #999;
    --text-color: var(--color-text-secondary);
    --hover-text-color: var(--color-text-emphatic);
    --group-separator: #999;
    --hover-entry-border: #999;
    --hover-entry-background: #f0f0e0;
}

.dropdown-menu-fwl > li:not(.context-menu-fwl-separator) {
	display: flex;
	align-items: center;
	padding: 6px;
	border: 1px solid transparent;
	font-size: var(--font-size-12);
	cursor: pointer;
	transition: all ease-out 200ms;
}

.dropdown-menu-fwl.dropdown-menu-fwl-hover > li:not(.context-menu-fwl-separator):hover,
.dropdown-menu-fwl > li.active {
	border-color: var(--hover-entry-border);
    background: var(--hover-entry-background);
    color: var(--hover-text-color);
}

.dropdown-menu-fwl > li > i:first-child {
	margin-right: 8px;
}

.dropdown-menu-fwl > li > span {
	flex-grow: 1;
}

.dropdown-menu-fwl > li > i:last-child {
	margin-left: 8px;
	line-height: 15px;
}

.dropdown-menu-fwl > li.context-menu-fwl-separator {
	margin: 4px 0;
	border-bottom: 1px solid var(--group-separator);
}
