.dropdown-button-fwl {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 8px;

	/* Copied from Foundry's select: */
	--input-background-color: var(--color-cool-4);
    --input-border-color: transparent;
    --input-text-color: var(--color-light-3);
    --input-placeholder-color: var(--color-light-4);
    --input-focus-outline-color: var(--color-cool-3);

	width: 100%;
    height: var(--input-height);
    line-height: var(--input-height);
    padding: 0 0.5rem;
    background: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    outline: 1px solid transparent;
    color: var(--input-text-color);
    user-select: text;
    font-size: var(--font-size-14);
    transition: outline-color 0.5s;
}

.theme-light .dropdown-button-fwl {
	--input-background-color: rgba(0, 0, 0, 0.1);
    --input-border-color: var(--color-dark-6);
    --input-text-color: var(--color-dark-2);
    --input-placeholder-color: var(--color-dark-3);
    --input-focus-outline-color: var(--color-warm-2);
}

.dropdown-button-fwl.dropdown-button-fwl-disabled {
    --input-background-color: var(--color-cool-5);
    --input-border-color: var(--color-cool-4);
    --input-text-color: var(--color-light-4);

    pointer-events: none;
}

.theme-light .dropdown-button-fwl.dropdown-button-fwl-disabled {
    --input-background-color: rgba(0, 0, 0, 0.2);
    --input-border-color: transparent;
    --input-text-color: var(--color-dark-3);
}

.dropdown-button-fwl > * {
	flex: 1 1 0;
}

.dropdown-button-fwl > i.fas.fa-chevron-down {
	flex: 0 0 min-content;
}

.dropdown-container-fwl {
	position: absolute;
	z-index: calc(var(--z-index-tooltip) - 1);
	width: max-content;
	padding: 1rem;
	box-shadow: 0 3px 6px rgb(0 0 0 / 45%);
}
