<label>
	{{localize "TERRAINHEIGHTTOOLS.StartHeight"}}:
	<input type="number" name="rulerStartHeight" min="0">
</label>

<label>
	{{localize "TERRAINHEIGHTTOOLS.EndHeight"}}:
	<input type="number" name="rulerEndHeight" min="0" placeholder="{{localize "TERRAINHEIGHTTOOLS.SameAsStart"}}">
</label>

<label>
	<input type="checkbox" name="rulerIncludeNoHeightTerrain">
	{{localize "TERRAINHEIGHTTOOLS.IncludeFlatTerrain"}}
</label>
