<form>
	<p style="margin-top: 0; font-size: 0.95em;">{{localize "TERRAINHEIGHTTOOLS.ShapeConversionHint"}}</p>

	<label class="flexrow align-items-center">
		<input type="checkbox" name="toDrawings">
		<span>{{localize "TERRAINHEIGHTTOOLS.ConvertToDrawings"}}</span>
	</label>

	<label class="flexrow align-items-center">
		<input type="checkbox" name="toWalls">
		<span>{{localize "TERRAINHEIGHTTOOLS.ConvertToWalls"}}</span>
	</label>

	<label class="flexrow align-items-center">
		<input type="checkbox" name="deleteAfter">
		<span>{{localize "TERRAINHEIGHTTOOLS.DeleteAfterConversion"}}</span>
	</label>
</form>
