/* ------------------------- */
/* Common Tool Window Styles */
/* ------------------------- */
.terrain-height-tool-window {
	position: absolute;
	margin: 0 0 0 10px;
}

.terrain-height-tool-window .window-content {
	background: none;
}

.terrain-height-tool-window p,
.terrain-height-tool-window span,
.terrain-height-tool-window ul,
.terrain-height-tool-window input,
.terrain-height-tool-window label,
.terrain-height-tool-window a {
	color: #FFFFFF;
}

.terrain-height-tool-window hr {
	margin: 8px;
	flex: 0 !important;
	width: 100%;
	border-top: 2px groove var(--color-border-dark-secondary);
	border-bottom: none;
}

.terrain-height-tool-window .tht-form-group:not(:first-child) {
	padding-top: 8px;
}

.terrain-height-tool-window .tht-form-group label {
	align-self: center;
}

.terrain-height-tool-window .tht-form-group input[disabled] {
	color: var(--color-text-light-7);
	text-decoration-line: line-through;
}

.terrain-height-tool-window .tht-form-group-hint {
	color: #FFFFFF;
	cursor: help;
}

.tht-radio-button input {
	display: none;
}

.tht-radio-button label {
	display: block;
	padding: 4px 8px;
	border: 1px solid var(--color-border-light-tertiary);
	border-left-width: 0;
	text-align: center;
	cursor: pointer;
}

.tht-radio-button input:checked + label {
	border-color: var(--color-border-highlight-alt);
    box-shadow: 0 0 6px inset var(--color-shadow-highlight);
}

.tht-radio-button:first-of-type label {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	border-left-width: 1px;
}

.tht-radio-button:last-of-type label {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}


/* --------------------- */
/* Terrain Type Palettes */
/* --------------------- */
ul.terrain-type-palette {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow-y: auto;
}

ul.terrain-type-palette li {
	padding: 4px;
	display: flex;
	border: 1px solid transparent;
	border-radius: 3px;
	margin-bottom: 4px;
}

ul.terrain-type-palette li,
ul.terrain-type-palette li * {
	cursor: pointer;
}

ul.terrain-type-palette li.active {
	border-color: var(--color-border-highlight-alt);
	box-shadow: 0 0 6px inset var(--color-shadow-highlight);
}

ul.terrain-type-palette li .preview-box {
	flex-shrink: 0;
	height: 28px;
	width: 28px;
	margin: 4px;
	border: 4px solid transparent;
}

ul.terrain-type-palette li .terrain-type-name {
	margin-left: 8px;
	flex-grow: 1;
	align-self: center;
}


/* --------------------- */
/* Terrain Erase Palette */
/* --------------------- */
#tht_terrainErasePalette .erase-range-input::placeholder {
	font: var(--fa-font-solid);
	color: #999999;
}


/* -------------------- */
/* Terrain Stack Viewer */
/* -------------------- */
#tht_terrainStackViewer {
	width: 240px;
	margin: 0 4px 4px auto;
	padding: 4px;
	border: 1px solid var(--color-border-dark);
}

#tht_terrainStackViewer h3 {
	border-bottom: 0;
	margin: 4px 6px 0;
}

#tht_terrainStackViewer .terrain-layer-block {
	margin: 2px 6px;
	padding: 4px 6px;
	border: 2px solid transparent;
	text-align: center;
}

#tht_terrainStackViewer .terrain-layer-block-title {
	margin: 0;
	font-size: var(--font-size-14);
}

#tht_terrainStackViewer .terrain-layer-block-height {
	margin: 0;
	font-size: var(--font-size-12);
}

#tht_terrainStackViewer .axis-line {
	stroke-width: 1;
	stroke: #FFFFFF44;
}

#tht_terrainStackViewer .axis-line-label {
	font-size: 14px;
	fill: #FFFFFF44;
}

#tht_terrainStackViewer hr {
	border-top: 2px groove var(--color-border-dark-secondary);
	border-bottom: none;
}


/* -------------------- */
/* Terrain Types Config */
/* -------------------- */
#tht_terrainTypesConfig form {
	height: 100%;
	display: flex;
	flex-direction: column;
}

#tht_terrainTypesConfig form > p {
	flex: 0;
}

#tht_terrainTypesConfig .terrain-type-list {
	list-style: none;
	padding: 0;
	margin: 8px 0;
	overflow-y: scroll;
	flex: 1 1 0;
}

#tht_terrainTypesConfig .terrain-type-list li {
	padding: 6px;
	border: 1px solid var(--color-border-light-primary);
	border-radius: 3px;
	box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
}

#tht_terrainTypesConfig .terrain-type-list li:not(:first-child) {
	margin-top: 8px;
}

#tht_terrainTypesConfig .terrain-type-header > button {
	flex: 0 0 30px;
}

#tht_terrainTypesConfig .terrain-type-header > input {
	height: auto;
	margin: 0 3px 1px;
}

#tht_terrainTypesConfig [data-action="toggleExpand"] {
	display: none;
}

#tht_terrainTypesConfig .terrain-type-content {
	display: grid;
	grid-template-rows: repeat(2, min-content);
	grid-template-columns: 1fr min-content 1fr min-content 1fr;
	grid-gap: 8px;
	margin: 8px 0;
}

#tht_terrainTypesConfig .terrain-type-content.collapsed {
	display: none;
}

#tht_terrainTypesConfig .terrain-type-content .vertical-separator {
	border-left: 2px groove #FFFFFF;
}

#tht_terrainTypesConfig .terrain-type-content .terrain-type-content-full-width {
	grid-column: 1 / 6;
	display: flex;
}

#tht_terrainTypesConfig .terrain-type-content .terrain-type-content-full-width > div {
	display: flex;
	align-items: center;
}

#tht_terrainTypesConfig .terrain-type-content .terrain-type-content-full-width > div:not(:first-child) {
	margin-left: 16px;
}

#tht_terrainTypesConfig .terrain-type-content .form-group input[type="checkbox"] {
	margin-left: 0;
}

#tht_terrainTypesConfig textarea.autoresize {
	min-height: auto;
	resize: vertical;
	field-sizing: content;
}

#tht_terrainTypesConfig .form-group-stacked:has(> .focus-tooltip) {
	position: relative;
}

#tht_terrainTypesConfig .focus-tooltip {
	position: absolute;
	top: calc(100% + 1px);
	z-index: var(--z-index-tooltip);
	pointer-events: none;
	transition: opacity 250ms ease-out;
}

#tht_terrainTypesConfig .has-focus-tooltip:not(:focus) + .focus-tooltip {
	opacity: 0;
}

#tht_terrainTypesConfig .has-focus-tooltip:focus + .focus-tooltip {
	opacity: 1;
}

#tht_terrainTypesConfig .label-placeholder-tooltip {
	top: 16px;
	right: calc(100% + 4px);
	width: 280px;
	padding: 4px 6px 6px;
	background: #ededed;
	color: var(--color-text-dark-primary);
	border: 1px solid var(--color-border-highlight-alt);
	border-radius: 3px;
	font-size: var(--font-size-13);
    box-shadow: 0 0 4px #000000, 0 0 6px inset var(--color-shadow-highlight);
}

#tht_terrainTypesConfig .label-placeholder-tooltip table {
	margin: 0;
}

#tht_terrainTypesConfig .label-placeholder-tooltip table th {
	width: 1px;
	padding-right: 6px;
	font-family: Consolas, Courier New, Courier, monaco, monospace;
}


/* --------------------------- */
/* Terrain Types Import/Export */
/* --------------------------- */
#tht_terrainTypesImport .dialog-buttons,
#tht_terrainTypesExport .dialog-buttons {
	flex: 0;
}

#tht_terrainTypesImport .dialog-content,
#tht_terrainTypesExport .dialog-content {
	padding-bottom: 8px;
}

#tht_terrainTypesImport textarea,
#tht_terrainTypesExport textarea {
	height: 100%;
	resize: none;
}

#tht_terrainTypesPresets .preset-list {
	list-style: none;
	margin: 0 40px 8px;
	padding: 0;
	overflow-y: auto;
	max-height: 500px;
}

#tht_terrainTypesPresets .preset-list li {
	display: flex;
	flex-direction: column;
	position: relative;
	padding: 6px;
	margin: 8px;
	min-height: 150px;

	border: 1px solid var(--color-border-light-primary);
	border-radius: 3px;
	box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5),
		0px 0px 60px 0px #FFFFFF inset;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#tht_terrainTypesPresets .preset-header {
	margin: -6px;
    padding: 6px;
	background: rgba(255, 255, 255, 0.7);
}

#tht_terrainTypesPresets .preset-name {
	font-size: 1.25rem;
}

#tht_terrainTypesPresets .preset-author {
	opacity: 0.8;
}

#tht_terrainTypesPresets .preset-import-buttons {
	text-align: right;
}

#tht_terrainTypesPresets .preset-import-buttons button {
	display: inline-block;
	width: auto;
}


/* -------------------------- */
/* Line of Sight Ruler Config */
/* -------------------------- */
#tht_lineOfSightRulerConfig .form-group-stacked label {
	margin-bottom: 4px;
}

#tht_lineOfSightRulerConfig .form-group-stacked {
	margin-bottom: 8px;
}


/* -------------------------- */
/* Token Line of Sight Config */
/* -------------------------- */
#tht_tokenLineOfSightConfig .token-selection-container {
	display: flex;
	align-items: center;
	margin-bottom: 6px;
	padding: 2px;
	border-radius: 3px;
	border: 1px solid rgba(0, 0, 0, 0.7);
	box-shadow: 0 0 6px inset rgba(0, 0, 0, 0.7);
}

#tht_tokenLineOfSightConfig .token-selection-container.is-selecting-token {
	border-color: var(--color-border-highlight-alt);
	box-shadow: 0 0 6px inset var(--color-shadow-highlight);
}

#tht_tokenLineOfSightConfig .token-selection-container > * {
	margin: 4px;
}

#tht_tokenLineOfSightConfig .token-selection-container .token-image {
	width: 32px;
	height: 32px;
	border: none;
}

#tht_tokenLineOfSightConfig .token-selection-container .token-name {
	flex: 1 1 0;
    white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}

#tht_tokenLineOfSightConfig .token-selection-container .token-action {
	font-size: 1.2rem;
}


/* --------------------------- */
/* Terrain Shape Choice Dialog */
/* --------------------------- */
.terrain-shape-choice-dialog .terrain-shape-list {
	display: grid;
	grid-template-columns: repeat(3, 172px);
	gap: 8px;
}

.terrain-shape-choice-hint-text {
	margin-top: 0;

	/* Max-width of the hint should be equal to the width of the above .terrain-shape list.
	If it is allowed to grow longer then it will stretch the dialog.
	532px = 3 x 172 (three columns) + 2 * 8 (two gaps between columns) */
	max-width: 532px;
}

.terrain-shape-choice-dialog .terrain-shape-list-radio {
	display: none;
}

.terrain-shape-choice-dialog .terrain-shape-list-item {
	width: 172px;
	height: 172px;
	padding: 4px;
	border: 1px solid var(--color-border-light-primary);
	border-radius: 5px;
	box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5);
}

.terrain-shape-choice-dialog .terrain-shape-list-radio:checked + .terrain-shape-list-item {
	border-color: var(--color-border-highlight-alt);
	box-shadow: 0px 0px 4px -1px rgba(0, 0, 0, 0.5), 0 0 6px inset var(--color-shadow-highlight);
}

.terrain-shape-choice-dialog .terrain-shape-list-item > p {
	margin: 0 0 4px;
	text-align: center;
}


/* ----- */
/* Icons */
/* ----- */
.tht-icon-erase-shape {
	position: relative;
	font: var(--fa-font-solid);
}

.tht-icon-erase-shape:before {
	content: "\f5ee";
    position: absolute;
    top: -0.25em;
    transform: scale(0.9) translateX(-60%);
}

.tht-icon-erase-shape:after {
	content: "\f12d";
    position: absolute;
    bottom: -0.125em;
    transform: scale(0.7) translateX(-40%);
}


/* ------- */
/* Utility */
/* ------- */
.align-items-center {
	align-items: center;
}

.max-content-width {
	width: max-content;
}

.margin-x-auto {
	margin-left: auto;
	margin-right: auto;
}
